@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Homemade+Apple:100,200,300,400,500,600,700');

.main-div {
    background-color: black;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bknj.jpg');
    background-position: top center;
    background-size: contain;
    height: 40vh;
    z-index: 1;
    background-attachment: fixed;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

div.about {
    flex: 1;
}

div.preview {
    flex: 1;
}

.main-div p {
    color: #fafafa;
    font-family: 'Exo', sans-serif;
    font-size: 11vw;
    font-weight: bold;
    font-style: italic;
    position: fixed;
    top: 55px;
    left: 30px;

}

.about-div {
    background-color: white;
    min-height: 60vh;
    padding: 25px;

}

.about {
    color: black;
    font-size: 16;
    background-color: #f8f2e2;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    padding: 15px;


}

.preview-div {
    background-color: white;
    min-height: 60vh;
    padding: 25px;


}

.preview {
    color: pink;
    font-size: 16;
    background-color: black;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.yt-video {
    margin-top: 25px;
}

/* --------------------------------------------------------- Nav */

.nav-row {
    background-color: black;
    position: fixed;
    width: 100vw;
    margin: 0;
}

#canary {
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.nav-link {
    text-align: center;
    font-size: 18px;
    /*font-style: italic;*/
    padding-top: 20px;
    color: pink;
    font-family: 'Exo', sans-serif;
}

.navbar {
    background-color: #000;
    height: 65px;
}

.nav-canary{
    padding-top: 10px;
}
