@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,400italic,500,600,700|Exo:100,200,300,400,500,600,700|Homemade+Apple:100,200,300,400,500,600,700');

.main-div {
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/canarybw.jpg');
    background-position: top center;
    background-size: cover;
    height: 50vh;
    z-index: 1;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* ------------------------------------------------ Social */

.social {
    text-align: center;
    font-size: 50px;
    margin: 25px 300px 25px 300px;
    background-color: #fff;
}

.social-links p i {
    color: black;
    background-color: #fff;
}

.social-links {
    padding-bottom: 15px;
}

/* ------------------------------------------------ Body */

.drift {
    margin-top: 75px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/driftcrows.jpg');
    background-position: top center;
    background-size: cover;
    height: 96vh;
    z-index: 1;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    border-top: 3px solid black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

div.about,
div.preview {
    flex: 1;
}

.main-div p {
    color: #fafafa;
    font-family: 'Exo', sans-serif;
    font-size: 11vw;
    font-weight: bold;
    font-style: italic;
    position: fixed;
    top: 55px;
    left: 30px;

}

.about-div {
    background-color: transparent;
    min-height: 400px;
    max-width: 590px;
    padding: 25px;
    float: right;
    margin-right: 100px;
    margin-top: 60px;
    text-align: justify;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.about {
    color: black;
    font-size: 16;
    background-color: transparent;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.book-now {
    margin-top: 25px;
    margin-right: 10px;
    padding-top: 8px;
    border: 2px solid #000;
    width: 150px;
    height: 50px;
    color: #000;
    text-align-last: center;
    font-size: 20px;
    float: right;
    text-decoration: none;
}

.book-now:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
  background-color: black;
  color:#aaa;
}

.preview-div {
    background-color: transparent;
    min-height: 60vh;
    padding: 25px;


}

.preview {
    color: #000;
    font-size: 16;
    background-color: transparent;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    padding: 15px;
}

/* --------------------------------------------------------- Nav */

.nav-row {
    background-color: black;
    position: fixed;
    width: 100vw;
    margin: 0;
}

#canary {
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color: #aaa;
}

.nav-link {
  height:100%;
    text-align: center;
    font-size: 18px;
    /*font-style: italic;*/
    padding-top: 25px;
    color: #aaa;
    font-family: 'Exo', sans-serif;
}

.nav-link:hover,
.nav-link a span:hover,
#canary:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: #aaa;
  color:#000;
}

.nav-link a span {
    color: #aaa;
}

.navbar {
    background-color: #000;
    height: 65px;
}

.nav-canary {
    padding-top: 7px;
    border-right: 1px solid grey;
}

.container-fluid {
    background-color: #fff;
    border-top: 3px solid black;
    margin: 0px;
}


/* ------------------------------------------------------ Media Page */

.media-drift {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/driftcrows.jpg');
    height: 200vh;
    margin-top: 25px;
    background-attachment: fixed;
}

.audio-div {
    margin: 100px 12.5vw 10px 12.5vw;
    text-align: center;
    max-width: 75vw;
    color: #fafafa;
}

.griffith {
    margin-top: 50px;
}

.sndcld-album {
    margin-top: 25px;
}

.video-div {
    margin-top: 50px;
    text-align: center;
    max-width: 75vw;
    color: #fafafa;
}

.yt-video {
    margin-top: 25px;
}

/* ------------------------------------------------------- Contacts */

.full-light {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/driftcrows.jpg');
    height: 100vh;
    margin-top: 25px;
    background-attachment: fixed;
}

.form-container {
  max-width: 600px;
  margin-right: 80px;
  position: relative;
  float: right;
}

/* -------- The code for this contact form was taken from codepen.io and modified to suit my needs -------- */

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 14fpx/16px "Exo", sans-serif;
  color: #aaar
}

#contact {
  background-color: transparent;
  padding: 25px;
  margin: 100px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color: black;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: black;
}

fieldset {
  border: medium none !important;
  margin: 0 0 15px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: black;
}



#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  border: 2px solid black;
  background: transparent;
  margin: 0 0 5px;
  padding: 10px;
}

/* #contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
} */

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: 2px solid black;
  background: transparent;
  color: black;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {

  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: black;
  color:#aaa;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* ------------------------------------------------------- News Page */

.col-centered {
  float: none;
  margin: 0 auto;
}


.news-div {
  text-align: center;
  margin-top: 100px;
  color: #aaa;
  background-color: transparent;
  max-width: 80%;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.news-item-heading {
  margin-top: 50px;
}

dl dt {
  margin-top: 25px;
  font-size: 18px;
}

dl dd {
  font-size: 16px;
}

.news-body {
}

/* ------------------------------------------------------- Media Queries */

@media (max-width: 991px) {

  /*------------------------------------------------------ Nav */

  .nav-canary {
    width: 200px;
  }

  .social {
      margin: 25px 200px 25px 200px;
  }

  /* -----------------------------------------------------  Landing */

  .about-div {

    float: none;
    margin: 0 auto;
    margin-top: 40px;
  }

  /* ----------------------------------------------------- Contact Page */

  .full-light {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/driftcrows.jpg');
    }

  .form-container {
    float: none;
    margin: 0 auto;
  }

  #contact h3,
  #contact h4 {
    color: #aaa;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea {
    border: 2px solid #aaa;
  }

  #contact button[type="submit"] {
    border: 2px solid #aaa;
    color: #aaa;
  }

  #contact button[type="submit"]:hover {
    background-color: #aaa;
    color: #000;
  }

  #contact input::placeholder,
  #contact textarea::placeholder {
    color: #aaa;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 14px/16px "Exo", sans-serif;
    color: #aaa;
  }



/* ------------------------------------------------------ Media */

.media-drift {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/driftcrows.jpg');
    height: 200vh;
  }

}

@media (max-width: 767px) {
  .drift {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/driftcrows.jpg');
    }

  .about {
    color: #aaa;
  }

  .book-now {
      color: #aaa;
      border: 2px solid #aaa;
  }

  .book-now:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
    background-color: black;
    color:#aaa;
  }

  .social {
      margin: 25px 100px 25px 100px;
  }
}

@media (max-width: 533px) {
  .social {
      margin: 25px 50px 25px 50px;
  }

  .drift {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/driftcrows.jpg');
      height: 120vh;
    }



  .media-drift {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/driftcrows.jpg');
      height: 400vh;
    }
}
