@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Homemade+Apple:100,200,300,400,500,600,700');

.main-div {
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/psycrow.jpg');
    background-position: top center;
    height: 40vh;
    z-index: 1;
    background-attachment: fixed;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

div.about {
  flex: 1;
} 

.main-div p {
    color: pink;
    font-family: 'Exo', sans-serif;
    font-size: 11vw;
    font-weight: bold;
    font-style: italic;
    position: fixed;
    top: 55px;
    left: 30px;
    
}

.about-div {
    background-color: orange;
    min-height: 50vh;
    padding: 25px;

}

.about {
    color: black;
    font-size: 16;
    background-color: #f8f2e2;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    padding: 15px;


}

.preview-div {
    background-color: pink;
    height: 50vh;
   

}

/* --------------------------------------------------------- Nav */

.nav-row {
    height: 7%;
    background-color: black;
    position: fixed;

    width: 100vw;
    margin: 0;
}

.nav-link {
    text-align: center;
    font-size: 22px;
    /*font-style: italic;*/
    padding-top: 10px;
    color: pink;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar {
    background-color: #000;
}
